:root {
  --standart-white: #ffffff;
  --logo-title-color: #2e2f42;
  --header-btn-color: #4d5ae5;
  --about-galtext: #434455;
  --first-border-color: #e7e9fc;
  --second-border-color: #f4f4fd;
  --backdrop-color:#FCFCFC;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/*--------------HEADER---------------*/

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.flex {
  display: flex;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.site-body {
  background: var(--standart-white);
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background: var(--standart-white);
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  margin-right: 76px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--logo-title-color);
}
.logo :hover,
.logo :focus {
  color: var(--header-btn-color);
}

.web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--header-btn-color);
}

.header-contaiter {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-item {
  margin-left: 0;
  display: flex;
  align-items: center;
  
}

.navigation-list {
  margin-left: 0px;  
  margin-right: 40px;
}
.navigation-list:last-child {
  margin-right: auto;
}


/*--------------
.navigation-list::after {
  content: '';
  height: 1px;
  display: block;
  background: #4d5ae5;
  

}  ---------------*/




.address {
  margin-left: auto;
  align-items: center;
}

.header-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--logo-title-color);
  
}




.header-link:focus,
.header-link:hover {
  color: var(--header-btn-color);
}

.address-header {
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.address-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  cursor: pointer;
  color: var(--about-galtext);
}

.address-link:hover,
.address-link:focus {
  color: var(--header-btn-color);
}

/*--------------OUR SKILLS----------------*/

.hero {
  margin: auto;
  width: 1440px;
  background-image:linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
   url(../img/hero-bgf.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  
}

.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--standart-white);
  width: 496px;
  margin-left: auto;
  margin-right: auto;
}







/*--------------Button----------------*/

.hero-button {
  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background: var(--header-btn-color);
  cursor: pointer;
  color: var(--standart-white);
  margin-top: 48px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*--------------Backdrop----------------*/
.is-hiden {
  visibility: hidden;
}

.backdrop   {
  transition:opacity 250ms linear, visibility 250ms linear;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  width: 1440px;
  height: 100%;
  position: fixed
  
  
}
  
.modal {
position: absolute;
width: 408px;
min-height: 576px;
background-color:var(--backdrop-color) ;
border-radius: 4px;
left: 50%;
top: 50%;

}

.backdrop-close-but {
  
}







/*--------------OUR icons----------------*/
.skills-icons {
  margin-bottom: 8px;
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 264px;
  height: 112px;
  background: #F4F4FD;
}







.skills-link {
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 4px;

}


.about {
  padding-top: 120px;
}

.about-item {
  width: 264px;
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-item:last-child {
  margin: 0;
}

.about-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-title-color);
}

.about-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--about-galtext);
}
.content {
  padding-top: 120px;
  padding-bottom: 120px;
}

.content-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-title-color);
}

.content-list {
  gap: 24px;
  display: flex;
}

/*------------- OUR TEAM----------------*/

.section-team {
  padding-top: 120px;
  padding-bottom: 130px;
  background-color: var(--second-border-color);
}

.team-list {
  gap: 24px;
  justify-content: space-between;
  display: flex;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-title-color);
}

.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
 
  align-items: center;
  background: var(--standart-white);
}

.team-box {
  padding-bottom: 32px;
  padding-top: 32px;
}

.item-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--logo-title-color);
}

.item-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--about-galtext);
 
  
}



/*--------------icons----------------*/

.team-soc-list {
display: flex;
justify-content: center;
gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-item :hover,
.team-soc-item :focus {
  background-color:#404BBF 
}



.team-soc-link {
  width: 100%;
  height: 100%;
  background-color:var(--header-btn-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-soc-icon {
  fill: var(--standart-white);
}

/*--------------Costumers-icons----------------*/

.client-section { 
   padding-top: 130px;
   padding-bottom: 120px;
}

.client-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-title-color);
}

.client-list {
  display: flex;
  gap: 24px;
}

.client-items {
  width:calc((100%-120px)/6);
  height: 88px;
  
}

.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}


.client-icon {
  fill: #AFB1B8;
  }

  .client-link:hover,
  .client-link:focus {
    border-color: #404BBF;
  }


  .client-link:focus  .client-icon,
  .client-link:hover  .client-icon {
    fill: #404BBF;
  }





/*--------------FOOTER----------------*/

.footer {
 gap: 120px ;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--logo-title-color);
}
.footer-content {
  display: flex;
  gap: 120px;
}

.logo-footer {
  font-style: normal;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.15;
  margin-top: 100px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-border-color);
  margin-bottom: 16px;
}

.footer-title {
  margin-top: 16px;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-border-color);
}




/*--------------Footer-Icons----------------*/




.media {
font-family: sans-serif;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;

}


.fot-list {
  display: flex;
  gap: 16px;
}

.fot-item {
 width: 40px;
 height: 40px;
}


.fot-link {
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fot-link:hover,
.fot-link:focus {
  background-color:#31D0AA ;
  
}

  

.fot-icon {
  fill: var(--standart-white);
}





/*--------------PORTFOLIO----------------*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filtr-btn {
  gap: 24px;
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.button-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 24px;
  background: var(--second-border-color);
  border: 1px solid var(--first-border-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--header-btn-color);
  
}
.button-item:hover,
.button-item:focus {
  background-color: #4d5ae5;
  color: var(--standart-white);
  border-color:#4d5ae5 ;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--------------Galery---------------*/
.galery-list {
  gap: 48px 24px;
  display: flex;
  flex-wrap: wrap;
}

.galery-img {
  display: block;
}

.galery-img:hover,
.galery-img:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.galery-list-item {
  background: var(--standart-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}






.galery-box {
  padding: 32px 16px;
  border-bottom: 1px solid var(--second-border-color); 
  border-left:  1px solid var(--second-border-color);
  border-right: 1px solid var(--second-border-color); 
  border-top: none;
}

.galery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-title-color);
 
  margin-bottom: 8px;
}

.galery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--about-galtext);
}
